*{
  padding:0;
  margin:0;
  font-family: sans-serif;
  box-sizing:border-box;
}

/* para mobile */
:root{
  --color-primary: #e1051d;
  --color-light: #fff;
}

/* para mobile */

#newslatter{
  background: var(--color-primary);
  color: var(--color-light);
  color: #fff;
  min-height: 100vh;
  display:flex;
  align-items:center;
}


/* para mobile */

.container-max{
  padding:1rem;
  margin:0 auto;
  max-width: 569px;
}


/* para mobile */

.grid-dual i{
  font-size: 70px;
}


/* para mobile */

h2.title-newsletter{
  font-size: 33px;
  padding: 1.5rem 0;
  line-height: 45px;
  text-align: center;
}


/* para mobile */

.group-input{
/*   border:3px solid blue; */
  margin: 10px 0;
}


/* para mobile */

.group-input input{
  border:0;
  border-radius: 5px;
  font-size:18px;
  outline: none;
  padding: 0 8px;
  width:100%;
  height: 50px;
}

/* para mobile */

.group-checkbox{
  display: grid;
  align-items:center;
  grid-template-columns: 20px auto;
  gap:5px;
  padding: 1rem 0 4rem 0;
}


/* para mobile */

.group-checkbox .detail-terms{
  letter-spacing:1.1px;
  font-size: 15px;
}

.group-checkbox .detail-terms a{
  color: var(--color-light);
  font-weight:bold;
}


/* para mobile */

.group-checkbox #terms{
  width: 20px;
  height: 20px;
}


/* para mobile */

.btn{
  border:0;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  padding: 0 1rem;
  display: block;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}


/* para computadores e telas maiores */

@media (min-width: 769px){

.grid-dual{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
  
  /* para computadores e telas maiores */
  
  .container-max{
    max-width: 1000px;
  }

  
  /* para computadores e telas maiores */

  h2.title-newsletter{
  font-size: 45px;
  padding: 1rem 0;
  line-height: 52px;
  text-align: left;
}
  

/* para computadores e telas maiores */

  
.group-checkbox{
   display: flex;
  align-items:center;
  gap:5px;
}
  
}
